table td a, .email-link{
  display: block;
}
#feed-container{
	background-color:white;
}
#main-content{
  padding: 15px 0 0 0;
}
h3{
  margin-top: 0px;
}
#company-card{
  padding: 20px;
  border: solid 1px #ddd;
  min-height: 250px;
}
#return-home{
  margin-bottom:15px;
}

.activity-click-icon{
	margin-right:20px;
}.left{
  float: left;
}
.clr{
  clear: both;
}
#card-image{
  width: 60px;
  margin: 0 20px 20px 0;
}
#company-name{
  width: 400px;
}
#company-card h4{
  margin-bottom: 5px;
}